body {
    color: white;
    background: black;
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(212, 0, 255);
     padding: 20px;
    font-size: 32px;
    color: rgb(212, 0, 255);
}

section{
    background: rgb(100, 24, 24);
    padding-bottom: 80px;
    padding-top: 80px;
    display: flex;
    justify-content: center;
}